*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

:root {
  /* z-index */
  --z-index-background: -1;
  --z-index-default: 1;
  --z-index-overlay: 10;
  --z-index-hamburger: 20;

  /* Typography */
  --font-family-alata: 'Alata', sans-serif;
  --font-family-alata: 'Josefin Sans', sans-serif;

  --font-size-72: 4.5rem;
  --font-size-48: 3rem;
  --font-size-40: 2.5rem;
  --font-size-32: 2rem;
  --font-size-24: 1.5rem;
  --font-size-15: 0.9375rem;
  --font-size-14: 0.875rem;

  --fw-light: 200;
  --fw-regular: 400;

  --lh-sm: 0.8;
  --lh-base: 1;
  --lh-lg: 1.65;

  --ls-base: 0;
  --ls-lg: 5px;

  /* Spacings */
  /* Colors */
  --clr-white: #fff;
  --clr-black: #000;

  --clr-grey-200: #d8d8d8;

  --clr-blue-50: #f6fafa;
  --clr-blue-100: #e5eaf1;

  --clr-gradient-1: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 60%,
    rgba(0, 0, 0, 0.7) 100%
  );

  /* Spacing */
  --spacing-0: 0;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;

  /* Breakpoints */
  --desktop-breakpoints: 48em;
  --tablet-breakpoints: 64em;
}

@mixin text-preset-1 {
  font-size: var(--font-size-72);
  font-weight: var(--fw-light);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);
}

@mixin text-preset-2 {
  font-size: var(--font-size-48);
  font-weight: var(--fw-light);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);
}

%text-preset-3 {
  font-size: var(--font-size-40);
  font-weight: var(--fw-light);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);
}

%text-preset-4 {
  font-size: var(--font-size-32);
  font-weight: var(--fw-light);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);
}

%text-preset-5 {
  font-size: var(--font-size-24);
  font-weight: var(--fw-light);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);
}

%text-preset-6 {
  font-family: var(--font-family-alata);
  font-size: var(--font-size-15);
  font-weight: var(--fw-regular);
  line-height: var(--lh-lg);
  letter-spacing: var(--ls-base);
}

%text-preset-7 {
  font-family: var(--font-family-alata);
  font-size: var(--font-size-14);
  font-weight: var(--fw-regular);
  line-height: var(--lh-sm);
  letter-spacing: var(--ls-lg);
}

%horizontal-line {
  display: block;
  width: 24px;
  height: 2px;
  background-color: white;
}

%transition-common {
  transition: all 0.2s ease-in-out;
}

body {
  font-family: 'Josefin Sans', sans-serif;

  &.menu-open {
    overflow: hidden;
    touch-action: none;
  }
}

.main,
.full-width {
  --padding-container: 2rem;

  display: grid;
  grid-template-columns:
    [full-start] var(--padding-container)
    [main-start] 1fr [main-end] var(--padding-container)
    [full-end];

  & > * {
    grid-column: main;
  }

  & > .full-width {
    grid-column: full;
  }

  @media (min-width: 768px) {
    --padding-container: 4rem;
  }
}

.header {
  grid-column: main;
  background-image: url('images/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__text {
    border: 1px solid white;
    padding: 1rem;
    margin-block: 12.5rem;
    text-transform: uppercase;
    color: white;
    @extend %text-preset-3;

    @media (min-width: 768px) {
      @include text-preset-1;
    }
  }

  &__logo {
    width: 9rem;
  }

  &__menu {
    display: flex;
    justify-content: space-between;

    margin-block-start: 2.5rem;
    z-index: var(--z-index-hamburger);

    &:has(#hamburger-icon:checked) ~ .header__navigation {
      opacity: 1;
      visibility: visible;
      @extend %transition-common;
    }
  }

  &__hamburger {
    display: flex;
    align-items: center;

    input {
      visibility: hidden;
      position: absolute;
    }

    input:checked + label {
      background-color: transparent;
    }

    input:checked + label::before {
      top: 0;
      transform: rotate(45deg);
      @extend %transition-common;
    }

    input:checked + label::after {
      top: 0;
      transform: rotate(-45deg);
      @extend %transition-common;
    }

    label,
    label::after,
    label::before {
      @extend %horizontal-line;
    }

    label {
      position: relative;
    }

    label::before {
      position: absolute;
      content: '';
      top: -8px;
      @extend %transition-common;
    }

    label::after {
      position: absolute;
      content: '';
      top: 8px;
      @extend %transition-common;
    }
  }

  &__navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    z-index: var(--z-index-overlay);
    padding-block-start: 5rem;
    @extend %transition-common;

    &--nav-list {
      text-transform: uppercase;
      color: white;
      list-style: none;
      margin-block-start: 5rem;
    }

    &--nav-item {
      a {
        text-decoration: none;
        color: white;
      }
    }

    &--nav-item:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.hero {
  margin-block-start: var(--spacing-1000);
  text-align: center;

  &__title {
    margin-block-start: var(--spacing-500);
    color: black;
    @extend %text-preset-4;
    color: black;
    text-transform: uppercase;

    @media (min-width: 768px) {
      @include text-preset-2;
    }
  }

  &__description {
    margin-block-start: var(--spacing-200);
    color: black;
    opacity: 0.5;
    @extend %text-preset-6;
  }
}

.creations {
  &__title {
    margin-block-start: var(--spacing-800);
    text-align: center;
    text-transform: uppercase;
    @extend %text-preset-4;

    @media (min-width: 768px) {
      @include text-preset-2;
    }
  }

  &__list {
    margin-block-start: var(--spacing-400);
    list-style: none;

    &--item {
      position: relative;
      margin-block-start: var(--spacing-200);

      .text {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        @extend %text-preset-5;
        color: white;
        bottom: var(--spacing-200);
        left: var(--spacing-200);
        position: absolute;
        z-index: 2;
      }

      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-image: var(--clr-gradient-1);
        z-index: 1;
      }
    }
  }
}

.button__seeall {
  @extend %text-preset-7;
  margin-block-start: var(--spacing-400);
  padding: var(--spacing-200) var(--spacing-500);
  text-transform: uppercase;
  border: 1px solid black;
  background-color: transparent;
  justify-self: center;
}

.footer {
  padding: var(--spacing-700);
  margin-block-start: var(--spacing-1000);
  grid-column: full;
  background-color: black;

  display: grid;
  grid-template-areas:
    'logo'
    'nav'
    'socials'
    'copy';
  gap: var(--spacing-200);

  @media (min-width: 768px) {
    grid-template-areas:
      'logo socials'
      'nav copy';
  }

  &__logo {
    grid-area: logo;
    justify-self: center;
    width: 9rem;

    @media (min-width: 768px) {
      justify-self: start;
    }
  }

  &__nav {
    grid-area: nav;

    display: flex;
    align-items: center;

    @media (min-width: 768px) {
      justify-self: start;
    }

    &__list {
      list-style: none;
      text-align: center;

      @media (min-width: 768px) {
        display: flex;
        gap: var(--spacing-200);
      }

      &--item {
        a {
          color: white;
          text-decoration: none;
        }

        &:not(:last-child) {
          margin-block-end: var(--spacing-400);

          @media (min-width: 768px) {
            margin: 0;
          }
        }
      }
    }
  }

  &__socials {
    width: 9rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    grid-area: socials;
    gap: var(--spacing-200);

    img {
      width: var(--spacing-300);
    }

    @media (min-width: 768px) {
      justify-self: end;
      align-self: end;
      margin: 0;
    }
  }

  &__copyright {
    text-align: center;
    grid-area: copy;
    @extend %text-preset-6;
    font-size: var(--font-size-14);
    color: white;

    @media (min-width: 768px) {
      justify-self: end;
      align-self: end;
    }
  }
}
