*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

:root {
  /* z-index */
  --z-index-background: -1;
  --z-index-default: 1;
  --z-index-overlay: 10;
  --z-index-hamburger: 20;
  /* Typography */
  --font-family-alata: 'Alata', sans-serif;
  --font-family-alata: 'Josefin Sans', sans-serif;
  --font-size-72: 4.5rem;
  --font-size-48: 3rem;
  --font-size-40: 2.5rem;
  --font-size-32: 2rem;
  --font-size-24: 1.5rem;
  --font-size-15: 0.9375rem;
  --font-size-14: 0.875rem;
  --fw-light: 200;
  --fw-regular: 400;
  --lh-sm: 0.8;
  --lh-base: 1;
  --lh-lg: 1.65;
  --ls-base: 0;
  --ls-lg: 5px;
  /* Spacings */
  /* Colors */
  --clr-white: #fff;
  --clr-black: #000;
  --clr-grey-200: #d8d8d8;
  --clr-blue-50: #f6fafa;
  --clr-blue-100: #e5eaf1;
  --clr-gradient-1: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 60%,
    rgba(0, 0, 0, 0.7) 100%
  );
  /* Spacing */
  --spacing-0: 0;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  /* Breakpoints */
  --desktop-breakpoints: 48em;
  --tablet-breakpoints: 64em;
}

.header__text {
  font-size: var(--font-size-40);
  font-weight: var(--fw-light);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);
}

.creations__title, .hero__title {
  font-size: var(--font-size-32);
  font-weight: var(--fw-light);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);
}

.creations__list--item .text {
  font-size: var(--font-size-24);
  font-weight: var(--fw-light);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);
}

.footer__copyright, .hero__description {
  font-family: var(--font-family-alata);
  font-size: var(--font-size-15);
  font-weight: var(--fw-regular);
  line-height: var(--lh-lg);
  letter-spacing: var(--ls-base);
}

.button__seeall {
  font-family: var(--font-family-alata);
  font-size: var(--font-size-14);
  font-weight: var(--fw-regular);
  line-height: var(--lh-sm);
  letter-spacing: var(--ls-lg);
}

.header__hamburger label,
.header__hamburger label::after,
.header__hamburger label::before {
  display: block;
  width: 24px;
  height: 2px;
  background-color: white;
}

.header__hamburger label::after, .header__hamburger label::before, .header__hamburger input:checked + label::after, .header__hamburger input:checked + label::before, .header__menu:has(#hamburger-icon:checked) ~ .nav--header, .nav--header {
  transition: all 0.2s ease-in-out;
}

body {
  font-family: "Josefin Sans", sans-serif;
}
body.menu-open {
  overflow: hidden;
  touch-action: none;
}

.nav--footer {
  place-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .nav--footer {
    display: block !important;
    justify-self: start;
  }
}
.nav--header {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: var(--z-index-overlay);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding-block-start: var(--spacing-1000);
}
@media (min-width: 1440px) {
  .nav--header {
    position: static;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    width: auto;
    height: auto;
    padding: 0;
    z-index: var(--z-index-default);
  }
}
.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}
.nav__list--header {
  text-transform: uppercase;
  margin-block-start: var(--spacing-1000);
}
@media (min-width: 1440px) {
  .nav__list--header {
    flex-direction: row;
    margin-block-start: 0;
  }
}
@media (min-width: 768px) {
  .nav__list--footer {
    flex-direction: row;
  }
}
.nav__item a {
  text-decoration: none;
  color: white;
}

.main,
.full-width {
  --padding-container: 2rem;
  display: grid;
  grid-template-columns: [full-start] var(--padding-container) [main-start] 1fr [main-end] var(--padding-container) [full-end];
}
.main > *,
.full-width > * {
  grid-column: main;
}
.main > .full-width,
.full-width > .full-width {
  grid-column: full;
}
@media (min-width: 768px) {
  .main,
  .full-width {
    --padding-container: 4rem;
  }
}

.header {
  grid-column: main;
  background-image: url("images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1440px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: var(--spacing-500);
  }
}
.header__text {
  border: 1px solid white;
  padding: 1rem;
  margin-block: 12.5rem;
  text-transform: uppercase;
  color: white;
}
@media (min-width: 768px) {
  .header__text {
    font-size: var(--font-size-72);
    font-weight: var(--fw-light);
    line-height: var(--lh-base);
    letter-spacing: var(--ls-base);
  }
}
@media (min-width: 1440px) {
  .header__text {
    max-width: 50%;
  }
}
.header__logo {
  width: 9rem;
}
.header__menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-block-start: var(--spacing-600);
  z-index: var(--z-index-hamburger);
}
@media (min-width: 1440px) {
  .header__menu {
    margin-block-start: 0;
  }
}
.header__menu:has(#hamburger-icon:checked) ~ .nav--header {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.header__hamburger {
  display: flex;
  align-items: center;
}
@media (min-width: 1440px) {
  .header__hamburger {
    display: none;
  }
}
.header__hamburger input {
  visibility: hidden;
  position: absolute;
}
.header__hamburger input:checked + label {
  background-color: transparent;
}
.header__hamburger input:checked + label::before {
  top: 0;
  transform: rotate(45deg);
}
.header__hamburger input:checked + label::after {
  top: 0;
  transform: rotate(-45deg);
}
.header__hamburger label {
  position: relative;
}
.header__hamburger label::before {
  position: absolute;
  content: "";
  top: -8px;
}
.header__hamburger label::after {
  position: absolute;
  content: "";
  top: 8px;
}

.hero {
  margin-block-start: var(--spacing-1000);
  text-align: center;
}
@media (min-width: 1440px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    text-align: left;
  }
  .hero__image {
    grid-column: 1/6;
    grid-row: 1/6;
  }
  .hero__text {
    grid-column: 5/8;
    grid-row: 3/6;
    background-color: white;
    padding: 4rem 0px 0px 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hero__title {
    margin: 0;
    flex-grow: 1;
  }
}
.hero__title {
  margin-block-start: var(--spacing-500);
  color: black;
  color: black;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: var(--font-size-48);
    font-weight: var(--fw-light);
    line-height: var(--lh-base);
    letter-spacing: var(--ls-base);
  }
}
.hero__description {
  margin-block-start: var(--spacing-200);
  color: black;
  opacity: 0.5;
}

.creations__title {
  margin-block-start: var(--spacing-800);
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .creations__title {
    font-size: var(--font-size-48);
    font-weight: var(--fw-light);
    line-height: var(--lh-base);
    letter-spacing: var(--ls-base);
  }
}
.creations__list {
  margin-block-start: var(--spacing-400);
  list-style: none;
}
.creations__list--item {
  position: relative;
  margin-block-start: var(--spacing-200);
}
.creations__list--item .text {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: white;
  bottom: var(--spacing-200);
  left: var(--spacing-200);
  position: absolute;
  z-index: 2;
}
.creations__list--item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--clr-gradient-1);
  z-index: 1;
}
@media (min-width: 768px) {
  .creations__list--item img {
    aspect-ratio: 5/1;
    -o-object-position: 50% 15%;
       object-position: 50% 15%;
  }
}
.creations__button {
  display: flex;
  justify-content: center;
}

.button__seeall {
  margin-block-start: var(--spacing-400);
  padding: var(--spacing-200) var(--spacing-500);
  text-transform: uppercase;
  border: 1px solid black;
  background-color: transparent;
  justify-self: center;
}

.footer {
  padding: var(--spacing-700);
  margin-block-start: var(--spacing-1000);
  grid-column: full;
  background-color: black;
  display: grid;
  grid-template-areas: "logo" "nav" "socials" "copy";
  gap: var(--spacing-400);
}
@media (min-width: 768px) {
  .footer {
    grid-template-areas: "logo socials" "nav copy";
  }
}
.footer__logo {
  grid-area: logo;
  justify-self: center;
  width: 9rem;
}
@media (min-width: 768px) {
  .footer__logo {
    justify-self: start;
  }
}
.footer__socials {
  width: 9rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  grid-area: socials;
  gap: var(--spacing-200);
}
.footer__socials img {
  width: var(--spacing-300);
}
@media (min-width: 768px) {
  .footer__socials {
    justify-self: end;
    align-self: end;
    margin: 0;
  }
}
.footer__copyright {
  text-align: center;
  grid-area: copy;
  font-size: var(--font-size-14);
  color: white;
}
@media (min-width: 768px) {
  .footer__copyright {
    justify-self: end;
    align-self: end;
  }
}/*# sourceMappingURL=styles.css.map */